<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-config.dtd">

<configuration>

	<!-- 配置Mybatis的相关配置 -->
    <!--<settings>-->
		<!--&lt;!&ndash; 打印sql语句 &ndash;&gt;-->
		<!--<setting name="logImpl" value="STDOUT_LOGGING"/>-->
	<!--</settings>-->
	


	<!-- 分页插件 -->
	<plugins>
		<plugin
			interceptor="com.baomidou.mybatisplus.extension.plugins.PaginationInterceptor">
		</plugin>
	</plugins>

	<!-- 映射文件 -->
	<mappers>
	    <mapper resource="com.wools.mapper/PageMapper.xml"/>
		<mapper resource="com.wools.mapper/ArticleMapper.xml"/>
	</mappers>
	
</configuration>


