<div class="layui-fluid" id="article_box"></div>
    <script>
        var getRootPath = function() {
            // http://localhost:8083/uimcardprj/share/meun.jsp
            var curWwwPath = window.document.location.href;
            // uimcardprj/share/meun.jsp
            var pathName = window.document.location.pathname;
            var pos = curWwwPath.indexOf(pathName);
            // http://localhost:8083
            var localhostPaht = curWwwPath.substring(0, pos);
            // uimcardprj
            var projectName = pathName
                .substring(0, pathName.substr(1).indexOf('/') + 1);
            if (projectName == "/weixin" || projectName == "/admin"  || projectName == "/pc")
                projectName = "";
            return(localhostPaht + projectName);
        }

        var JQuery;
        layui.use(['element','jquery','layer'], function() {
             var element = layui.element,
             $ = layui.jquery,
             JQuery=$;
             layer=layui.layer;
             //xxx();
        });
            //超出部分省略
            $(".article-text").each(function() {
            var str = $(this).text();
            var subStr = str.substring(0, 60);
            $(this).html(subStr + (str.length > 10 ? '...' + "<a href='#' class='active'>查看更多</a>" : ''));

                //取得简介图片
                $.ajax({
                    url: getRootPath()+'/html/searchArticle',
                    data:{page:0,limit:0},
                    type: "get",
                    datatype:"json",
                    success:function (data) {
                        alert(data);
                        //var jsonarray= $.parseJSON(data);
                        //var jsonobj =JSON.parse(data);
                        var count =data.data.length;
                        alert(count);

                        if (count>0){
                            for (var n=0;n<count;n++){
                                // $("#article_box").append(item);
                                // $('.article-img').each(function () {
                                //     $(this).attr("src",getRootPath()+"/"+data.data[n].img_src.toString());
                                // });
                                var item =$('<div class="layui-card" id="article_item">\n' +
                                    '        <div class="layui-card-header">'+data.data[n].article_title+'</div>\n' +
                                    '        <div class="layui-card-body">\n' +
                                    '            <div class="layui-fluid">\n' +
                                    '                <div class="layui-row article-row layui-col-space10">\n' +
                                    '                    <div class="layui-col-xs4">\n' +
                                    '                        <div>\n' +
                                    '                            <img id="cardimg-'+n+'" src="'+getRootPath()+"/"+data.data[n].img_src.toString()+'" class="article-img">\n' +
                                    '                        </div>\n' +
                                    '                    </div>\n' +
                                    '                    <div class="layui-col-xs8 ">\n' +
                                    '                        <div class="article-text" ><p>'+data.data[n].article_text+'</p></div>\n' +
                                    '                    </div>\n' +
                                    '                </div>\n' +
                                    '            </div>\n' +
                                    '        </div>\n' +
                                    '    </div>');
                                // $("#cardhead-"+n+"").text(data.data[n].article_title);
                                // $("#cardimg-"+n+"").attr("src",getRootPath()+"/"+data.data[n].img_src.toString());
                                // $(".article-"+n+"").text(data.data[n].article_text);
                                $("#article_box").append(item);
                            }
                        }
                        // var i=0;
                        //
                        // $('.layui-card-header').each(function () {
                        //     $(this).text(data.data[i].article_title)
                        //     i++;
                        // });
                        // $('.article-text').each(function () {
                        //     $(this).text(data.data[i].article_text)
                        //     i++;
                        // });
                    }
                })
        });





    </script>