		<div class="book layui-fluid book">
			<div class="inputbox">
				<h3>预订时间范围:</h3>
				<div class="layui-input-inline" style="width: 100%;padding-bottom:15px;">
					<input id="selectdate" type="text" placeholder="请选择预订范围" style="border-radius: 10px;text-align: center;background:#F7F7F7;" name="date" autocomplete="off" class="layui-input">
				</div>
				<button class="layui-btn layui-btn-lg layui-btn-radius layui-bg-red " style="width: 100%;color: #FFFFFF;font-weight: bold;">立即预订</button>
			</div>
			<div class="layui-row layui-col-space3">
				<div class="layui-col-xs6 bottom" style="text-align: center;"><span class="layui-icon layui-icon-list"></span>我的行程</div>
				<div class="layui-col-xs6 bottom" style="text-align: center;"><span class="layui-icon layui-icon-form"></span>我的订单</div>
			</div>
		</div>
		<script>
			layui.use(['layer', 'laydate'], function() {
				var layer = layui.layer,
					laydate = layui.laydate;
				//日期范围
				laydate.render({
					elem: '#selectdate',
					range: true
				});

			});
		</script>

