
    <div class="layui-carousel" id="test1">
      <div carousel-item class="carousel-item">

      </div>
    </div>


     
    <script>
			var ins,$;
		
		layui.use(['jquery','upload','carousel','layer'], function() {
			$ = layui.jquery,
				layer = layui.layer;

			//轮播初始化
				 var carousel = layui.carousel;
				//建造实例
				ins = carousel.render({
				  elem: '#test1'
				  ,width: '100%' //设置容器宽度
				  ,arrow: 'always' //始终显示箭头
				  //,anim: 'updown' //切换动画方式
					,interval :'3000'
					,autoplay: 'true'
					,height: '200px'
				});
				
				$(document).ready(function () {
					searchLunboImg();
				})
		});

		//查询轮播图片及超链接并显示
		var searchLunboImg = function () {
			$.ajax({
				url : getRootPath()+"/html/searchNowImg",
				type : "get",
				data : {"template_id":1},
				datatype:"json",
				success : function(data) {
					var jsondata = JSON.parse(data);
					if($('.nothave').length >0){

					}
					for (var i=0;i<jsondata.length;i++) {
						var entry = document.createElement("div");
						entry.className = "carousel-img carousel-img"+i;
						var a = document.createElement("a");
						a.href = jsondata[i].img_href;
						var img = document.createElement("img");
						img.src = getRootPath()+"/"+jsondata[i].img_src;
						img.className = "carousel-img-up"
						img.style.width = "100%";
						a.appendChild(img);
						entry.appendChild(a);
						$(".carousel-item").append(entry);
						ins.reload();	//重置轮播
					}
				}
			});
		}

		var getRootPath = function() {
			// http://localhost:8083/uimcardprj/share/meun.jsp
			var curWwwPath = window.document.location.href;
			// uimcardprj/share/meun.jsp
			var pathName = window.document.location.pathname;
			var pos = curWwwPath.indexOf(pathName);
			// http://localhost:8083
			var localhostPaht = curWwwPath.substring(0, pos);
			// uimcardprj
			var projectName = pathName
					.substring(0, pathName.substr(1).indexOf('/') + 1);
			if (projectName == "/weixin" || projectName == "/admin"  || projectName == "/pc")
				projectName = "";
			return(localhostPaht + projectName);
		}
	</script>