body{
	background: #F6FFFC;
}
.header{
	

	}
.header div{
}
	
/*滚动条*/
		::-webkit-scrollbar {
            width: 5px; /*对垂直流动条有效*/
            height: 5px; /*对水平流动条有效*/
        }

        /*定义滚动条的轨道颜色、内阴影及圆角*/
        ::-webkit-scrollbar-track{
          -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
            background-color: rosybrown;
            border-radius: 3px;
						display: none;
        }

       /*定义滑块颜色、内阴影及圆角*/
        ::-webkit-scrollbar-thumb{
            border-radius: 7px;
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
            background-color: #E8E8E8;
        }

        /*定义两端按钮的样式*/
        ::-webkit-scrollbar-button {
            
        }

        /*定义右下角汇合处的样式*/
       ::-webkit-scrollbar-corner {
           
        }

.inputbox{
	margin: 5% 0 ;
}
.book{
	position: relative;
	top:-15px;
	padding-top: 5px;
	padding-bottom: 5%;
	padding-left: 7%;
	padding-right: 7%;
	background: #FFFEFD;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
}
.book h3{
	padding-bottom: 5%;
	font-size: 20px;
	font-family: "arial narrow";
	font-weight: bold;
	
}

.home-menu{
				background-color: #FFFAF4;
				border-top-right-radius: 10px;
				border-top-left-radius: 10px;
			}
			.home-menu-list:hover{
				position: relative;
				top: 3px;
			}
			.home-list-node{
				padding: 1% 2%;
			}
			.home-node-icon{
				text-align: center;
			}
			.home-node-text{
				padding-top: 10px;
				text-align: center;
				font-family: "微软雅黑";
			}
			.home-icon-img{
				width: 50%;
			}

/*底部导航栏*/
.nav-bottom{
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color: #E0C2A2;
	color: #F0F0F0;
	height: 5%;
}
.nav-bottom-list{
	padding: 3px;
	height: 100%;
}
.nav-bottom-node{
	text-align: center;
	font-family:"微软雅黑" ;
	font-size: 20px;
	line-height: 30px;
}
.nav-node-icon{
	font-size: 20px;
}
/***/
.control{
	position:relative;
	z-index:999;
}
.article-img {
	width: 100%;
	height: 100%;
}
.article-row {
	height: 100%;
}

.del_mod{
	position: absolute;
	right: 0px;
	top: 0px;
}
.del_mod:hover{
	top: 1px;
}

#container {width:100%; height: 180px; }

.amap-icon img{
	width: 25px;
	height: 34px;
}

.marker {
	position: absolute;
	top: -20px;
	right: -118px;
	color: #fff;
	padding: 4px 10px;
	box-shadow: 1px 1px 1px rgba(10, 10, 10, .2);
	white-space: nowrap;
	font-size: 12px;
	font-family: "";
	background-color: #25A5F7;
	border-radius: 3px;
}

.input-card{
	width: 18rem;
	z-index: 170;
}

.input-card .btn{
	margin-right: .8rem;
}

.input-card .btn:last-child{
	margin-right: 0;
}

.info{
	width:26rem;
}

.markerlnglat{
	width: 25px;
	height: 34px;
}

#show_map{

	height: 30px;
	overflow: hidden;
}
#flip
{
	position: absolute;
	left: 0px;
	right: 0px;
	z-index:9999;
	height: 30px;
	text-align:center;
	background-color:#ffffff96;
}
